:root {

    /* palette */
    --white: #ffffffff;
    --rich-black: #00171fff;
    --prussian-blue: #003459ff;
    --cerulean: #007ea7ff;
    --picton-blue: #00a8e8ff;

    --background-color: #0a0a0a;
    --text-color: #c9d1d9;
    --primary-color: #58a6ff;
    --secondary-color: #007bff;
    --button-bg-color: #007bff;
    --button-hover-bg-color: #ffffff;
    --button-hover-text-color: #1a1a1a;
    --nav-bg-color: transparent;
    --footer-bg-color: transparent;
    --footer-text-color: white;
}

body {
    margin: 0;
    font-family: 'Albert Sans', sans-serif;
    background: var(--background-color);
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: var(--primary-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-color: var(--nav-bg-color); /* Use the darker header background */
    color: white;
    padding: 10px 0;
    text-align: center;
}

footer {
    background: rgba(255, 255, 255, 0.05);
    color: var(--footer-text-color);
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.2); /* Adds a subtle bottom border */
}

nav {
    background: rgba(255, 255, 255, 0.02); /* Slightly lighter and transparent */
    backdrop-filter: blur(20px); /* Adds a blur effect */
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky; /* Ensures the nav stays visible while scrolling */
    top: 0;
    z-index: 1000; /* Keeps it above other content */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Adds a subtle bottom border */
    color: white;
}

button {
    background: var(--button-bg-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

button:hover {
    background: var(--button-hover-bg-color);
    color: var(--button-hover-text-color);
}